$primary-color: #ff6060;
$very-light-color: #fff;
$light-color: #f6f6f6;
$overlay-color: rgba(0, 0, 0, 0.3);

$fontFam: "Montserrat", sans-serif;

$fontSizeDefault: 12px;

$desktop: 992px;
$tablet: 768px;
$mobile: 576px;
