@use "_variables.scss" as vars;
@use "_mixins.scss" as mixin;
@use "_functions.scss" as func;

.collapses-container {
  .collapse-container {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .collapse-title {
      @include mixin.flexRowCenter;
      border-radius: 5px;
      padding: 10px;
      background-color: vars.$primary-color;
      color: vars.$very-light-color;
      h2 {
        font-size: func.convertToRem(13px);
        font-weight: 500;
      }
      .collapse-btn {
        border: none;
        background-color: transparent;
        .arrow-back {
          width: 20px;
          height: 20px;
          transition: transform 0.3s ease-out;
          transform-origin: center;
          cursor: pointer;
        }
        .arrow-top {
          transition: transform 0.3s ease-out;
          transform: rotate(180deg);
        }
      }
    }
    .collapse-content {
      position: relative;
      top: -6px;
      z-index: -1;
      border-radius: 5px;
      transform: translateY(-30px);
      opacity: 0;
      height: 0;
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
      background-color: vars.$light-color;
      color: vars.$primary-color;
      &.collapse-visible {
        opacity: 1;
        transform: translateY(0);
        height: auto;
        margin-bottom: 15px;
        padding: 15px 20px 20px;
      }
    }
  }
}
.collapses-container.appartment {
  margin: 0 20px 20px;
}
.collapses-container.about {
  margin: 20px;
}

@media screen and (min-width: vars.$tablet) {
  .collapses-container {
    .collapse-container {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      .collapse-title {
        h2 {
          font-size: 1.5rem;
        }
        .collapse-btn {
          .arrow-back {
            width: 32px;
            height: 32px;
          }
        }
      }
      .collapse-content {
        &.collapse-visible {
          font-size: 1.5rem;
          padding-top: 25px;
        }
      }
    }
  }
  .collapses-container.appartment {
    margin: 25px 60px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .collapse-container {
      width: 50%;
      &:not(:last-child) {
        margin-right: 15px;
      }
      .collapse-title {
        border-radius: 10px;
      }
    }
  }
  .collapses-container.about {
    margin: 40px 60px;
    display: flex;
    flex-direction: column;
    .collapse-container {
      .collapse-title {
        padding: 10px 15px;
      }
    }
  }
}

@media screen and (min-width: vars.$desktop) {
  .collapses-container {
    .collapse-container {
      .collapse-title {
        h2 {
          font-size: 2rem;
        }
      }
      .collapse-content {
        &.collapse-visible {
          padding-top: 15px;
        }
      }
    }
  }
  .collapses-container.about {
    padding: 0 8%;
  }
}
