@use "_variables.scss" as vars;

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px 10px;
}

@media screen and (min-width: vars.$mobile) {
  .home-content {
    background-color: vars.$light-color;
    border-radius: 25px;
    margin: 40px 20px 50px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
}

@media screen and (min-width: vars.$tablet) {
  .home-content {
    margin: 40px 60px 50px;
    padding: 55px 50px 25px;
  }
}

@media screen and (min-width: vars.$desktop) {
  .home-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
