@use "_variables.scss" as vars;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: vars.$fontSizeDefault;
}

body {
  font-family: vars.$fontFam;
  font-weight: 500;
}
